amqp==5.3.1
asgiref==3.7.2
async-timeout==4.0.3
attrs==24.2.0
autobahn==23.1.2
Automat==22.10.0
billiard==3.6.4.0
cached-property==1.5.2
celery==5.2.7
cffi==1.15.1
channels==4.0.0
channels-redis==4.1.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
constantly==15.1.0
cryptography==44.0.0
daphne==4.0.0
Django==3.2.25
hyperlink==21.0.0
idna==3.10
importlib-metadata==6.7.0
incremental==22.10.0
kombu==5.2.4
msgpack==1.0.5
prompt_toolkit==3.0.48
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==24.3.0
pytz==2024.2
redis==5.0.8
service-identity==21.1.0
six==1.17.0
sqlparse==0.4.4
Twisted==23.8.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typing_extensions==4.7.1
vine==5.1.0
wcwidth==0.2.13
zipp==3.15.0
zope.interface==6.4.post2
